<main>
  <app-header></app-header>

  <div class="main-container">
    <div>
      <app-sidebar></app-sidebar>
    </div>
    <div>
      <div
        style="
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;
          background-color: aquamarine;
        "
        class="f-w"
      >
        <input
          type="text"
          id="search"
          class="form-control me-2"
          style="width: auto"
          placeholder="Filter..."
          [(ngModel)]="searchQuery"
          (input)="applyFilter()"
        />
        <h3
          *ngIf="userData && userData.length > 0"
          [@counter]="animationState"
          style="padding-top: 20px; font-weight: 500"
        >
          Total User: {{ userData.length | number }}
        </h3>
      </div>
      <!-- User Data Table -->
      <div class="table-container">
        <table class="table" *ngIf="userData !== null">
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of userData; let index">
            <tr>
              <td>{{ user.userName }}</td>
              <td class="text-break">{{ user.userEmail }}</td>
              <td>{{user.userMobile}}</td>
              <td>
                <mat-icon
                  style="color: #0000ff"
                  (click)="
                    updateUser(user._id, {
                      userName: user.updatedUserName,
                      userEmail: user.updatedUserEmail
                    })
                  "
                  (click)="editUser(user)"
                  >edit</mat-icon
                >
              </td>
              <td>
                <mat-icon style="color: #ff0000" (click)="deleteUser(user._id)"
                  >delete</mat-icon
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
<app-loader *ngIf="showLoader"></app-loader>
