main {
  background-color: #ffffff;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: 250px auto;
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
}

th {
  padding: 10px;
  color: #fff;
  font-weight: 500;
}

td {
  padding: 5px;
  border-bottom: 1px solid #000;
}

.input {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.input:focus {
  outline: none;
}

mat-icon {
  cursor: pointer;
}

h3 {
  color: white;
}

h3::before {
  counter-increment: inherit;
}

.table-dark__head {
  background-color: #887e7e !important;
}

@media (max-width: 600px) {
  .main-container {
    display: grid;
    grid-template-columns: 60px auto;
    height: auto;
  }
}

@media (min-width: 1000px) {
  // .table {
  //   width: 800px !important;
  // }
}

@media (max-width: 430px) {
  .f-w {
    display: flex;
    flex-direction: column-reverse;
  }
}
