<main>
  <app-header></app-header>

  <div class="main-container">
    <div>
      <app-sidebar></app-sidebar>
    </div>
    <div>
      <div
        style="
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;
          background-color: #1fb46c;
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
        "
        class="f-w"
      >
        <div>
          <input
            placeholder="Search User..."
            class="input"
            type="text"
            [(ngModel)]="searchQuery"
            (input)="applyFilter()"
          />
        </div>
        <h3
          *ngIf="
            userData !== undefined && userData.length == 0
              ? '0'
              : userData.length
          "
          [@counter]="animationState"
          style="padding-top: 20px; font-weight: 500"
          matTooltip="Show Total User"
        >
          Total User: {{ userData.length }}
        </h3>

        <!-- <img
          [src]="asset.pdf"
          alt="PDF Icon"
          [style]="theme.theme1"
          (click)="generatePDF()"
          matTooltip="Generate PDF"
        /> -->
      </div>
      <!-- 
      <button (click)="printTable()">Print Table</button> -->
      <!-- User Data Table -->
      <div class="table-container" id="myTableElementId">
        <table *ngIf="userData !== null" #userList>
          <thead>
            <tr class="table-dark__head">
              <th style="text-align: center">ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>User Id</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of userData; let index = index">
            <tr>
              <td class="text-break" style="text-align: center">
                {{ incrementalId + index }}
              </td>
              <td class="text-break">{{ user.userName }}</td>
              <td class="text-break">{{ user.userEmail }}</td>
              <td class="text-break">{{ user.userMobile }}</td>
              <td>{{ user._id | tokenFormat }}</td>
              <td>
                <mat-icon
                  style="color: #0000ff"
                  (click)="
                    updateUser(user._id, {
                      userName: user.updatedUserName,
                      userEmail: user.updatedUserEmail
                    })
                  "
                  (click)="editUser(user)"
                  matTooltip="Update User Data"
                  >edit</mat-icon
                >
              </td>
              <td>
                <mat-icon
                  style="color: #ff0000"
                  (click)="deleteUser(user._id)"
                  matTooltip="Delete User Data"
                  >delete</mat-icon
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
<app-loader *ngIf="showLoader"></app-loader>
