<main>
  <div class="offcanvas-body">
    <div class="menu-container">
      <a routerLink="/user-dashboard/home">
        <div class="logo_title">
          <mat-icon matTooltip="Home">home</mat-icon>
          <h4>Home</h4>
        </div>
      </a>
      <a routerLink="/user-dashboard/prediction">
        <div class="logo_title">
          <mat-icon matTooltip="Dollar Prediction">equalizer</mat-icon>
          <h4>Prediction</h4>
        </div>
      </a>
      <a routerLink="/user-dashboard/meta-mask">
        <div class="logo_title">
          <mat-icon matTooltip="Explore MetaMask">explore</mat-icon>
          <h4>Explore MetaMask</h4>
        </div>
      </a>
      <a routerLink="/user-dashboard/user-list">
        <div class="logo_title">
          <mat-icon matTooltip="User List">list</mat-icon>
          <h4>User List</h4>
        </div>
      </a>
      <div class="logo_title" (click)="logout()">
        <mat-icon matTooltip="Logout">logout</mat-icon>
        <h4>Logout</h4>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>

<app-loader *ngIf="showLoader"></app-loader>
