<main>
  <div class="user-container">
    <div class="header">
      <div class="nav">
        <div class="header-block">
          <div class="menu-c">
            <img
              [src]="asset.logo"
              width="80px"
              alt="Logo"
              style="margin: 5px; cursor: pointer"
            />
          </div>
          <div class="userprofile">
            <button mat-raised-button matBadgeColor="warn" class="btn-icon">
              <mat-icon style="color: #9dacb4; cursor: pointer; margin: 0px"
                >notifications</mat-icon
              >
            </button>

            <div class="user-menu" [matMenuTriggerFor]="userMenu">
              <div class="logo-img">
                <img
                  #img
                  [src]="asset.avatar"
                  width="35px"
                  height="35px"
                  style="border-radius: 100%"
                />
              </div>
              <div class="name">
                <h1 class="title">Ali ijaz</h1>
              </div>
              <div class="notification">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  style="transform: rotate(90deg); margin-right: 10px"
                  fontIcon="chevron_right"
                ></mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-menu #userMenu="matMenu" xPosition="after">
      <button mat-menu-item>
        <mat-icon style="margin-left: 20px">manage_accounts</mat-icon>
        <span style="margin: 0 20px">User Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon style="margin-left: 20px">logout</mat-icon>
        <span style="margin: 0 20px">Logout</span>
      </button>
    </mat-menu>
  </div>
</main>
<app-loader *ngIf="showLoader"></app-loader>
<router-outlet></router-outlet>
