main {
    background-color: rgba(0, 0, 0, 0.308);
    display: flex;
    justify-content:center ;
    align-items: center;
}

.main-container {
    background-color: rgb(247, 242, 242);
    color: rgb(231, 0, 0);
    padding: 20px;
}