<main>
  <app-header></app-header>

  <div class="main-container">
    <div>
      <app-sidebar></app-sidebar>
    </div>
    <div>
      <h4 style="margin: 10px; text-decoration: underline; font-weight: 500">
        MetaMask Updating
      </h4>
      <div *ngIf="userAddress">
        <h2>User's Ethereum Address:</h2>
        <p>{{ userAddress }}</p>
      </div>

      <div *ngIf="userBalance">
        <h2>User's Ethereum Balance:</h2>
        <p>{{ userBalance }} ETH</p>
      </div>

      <div *ngIf="userName">
        <h2>User's Ethereum Name:</h2>
        <p>{{ userName }}</p>
      </div>

      <div *ngIf="userAvatar">
        <h2>User's Ethereum Avatar:</h2>
        <img [src]="userAvatar" alt="User Avatar" />
      </div>
    </div>
  </div>
</main>
<app-loader *ngIf="showLoader"></app-loader>
