<main>
  <app-header></app-header>

  <div class="main-container">
    <div>
      <app-sidebar></app-sidebar>
    </div>
    <div style="display: flex; justify-content: center">
      <section>
        <img
          src="../../../assets/image/metamask_fox.svg.png"
          alt="MetaMask"
          style="width: 100px"
          class="meta-mask__img"
          matTooltip="MetaMask"
        />
        <div class="metamask-detail">
          <div class="meta-mask__profile">
            <img
              src="../../../assets/image/meta-mask-account.png"
              alt="MetaMask Avatar"
            />
            <label style="font-weight: 500">CRUD-App</label>
            <button
              class="details-btn"
              matTooltip="Get Details"
              (click)="showDetail()"
            >
              Details
            </button>
            <p
              style="
                font-size: 1.2rem;
                padding: 10px 50px;
                background-color: #adaaaa;
                color: #fff;
                cursor: pointer;
              "
            >
              <img
                src="../../../assets/image/ethereum_logo.svg.png"
                alt="Ethereum"
                style="width: 20px"
              />
              {{ userBalance }} ETH
            </p>

            <button class="btn btn-outline-primary" (click)="addToken()" matTooltip="Create new account">
              Add Token
            </button>
            <div>
              <h3>Current Dollar Rate: {{dollarRate}}</h3>
              <h3>Current Eth Rate: {{ethRate}}</h3>
            </div>
          </div>
          <div style="background-color: #e9e9e9; padding: 15px">
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: baseline;
              "
            >
              <div>
                <h3>Transaction</h3>
              </div>
              <div>
                <button class="btn btn-primary" (click)="deposit()" matTooltip="Deposit Amount">
                  Deposit
                </button>
              </div>
            </div>
            <div *ngIf="userAddress">
              <h4>User's Ethereum Address:</h4>
              <p>{{ userAddress | tokenFormat}}</p>
            </div>

            <div *ngIf="userBalance">
              <h4>User's Ethereum Balance:</h4>
              <p>{{ userBalance }} ETH</p>
            </div>

            <div *ngFor="let transaction of transactions">
              <strong>Amount:</strong> {{ transaction.amount }}<br />
              <strong>Status:</strong> {{ transaction.status }}<br />

              <button
                *ngIf="transaction.status === 'pending'"
                (click)="acceptTransaction(transaction)"
              >
                Accept
              </button>
              <button
                *ngIf="transaction.status === 'pending'"
                (click)="rejectTransaction(transaction)"
              >
                Reject
              </button>
            </div>

            <!-- Provide buttons to accept or reject the transaction -->
          </div>
        </div>
        <div class="swap-container">
          <form [formGroup]="swapvalue" (ngSubmit)="checkSwapValue()">
            <div class="primary-value">
            <mat-form-field appearance="fill">
              <mat-label>USDT</mat-label>
              <input matInput type="text" placeholder="Enter USDT Value" formControlName="usdtValue">
              <mat-icon matSuffix>circle</mat-icon>
            </mat-form-field>
          </div>
          <div class="secondary-value">
            <mat-form-field appearance="fill">
              <mat-label>BNB</mat-label>
              <input matInput type="text" placeholder="Enter BNB Value" formControlName="bnbValue">
              <mat-icon matSuffix>square</mat-icon>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" type="submit"  [disabled]="swapvalue.invalid">Check</button>
          </form>
        </div>
      </section>
    </div>
  </div>
</main>
<app-loader *ngIf="showLoader"></app-loader>
