<div class="bg-image"></div>
<div class="main-container">
  <div class="secondary-container">
    <div class="logo-container">
      <img src="../../assets/image/crud-logo.png" alt="Logo" />
      <div class="label-container">
        <p style="text-align: center">CRUD</p>
        <p style="text-align: center; font-weight: 400">
          Create-Retrieve-Update-Delete
        </p>
      </div>
    </div>
    <form
      [formGroup]="userSignUp"
      (ngSubmit)="signUp()"
      class="login-container"
    >
      <label style="text-align: left; font-weight: 700; font-size: 1.2rem"
        >Sign Up</label
      >
      <label style="text-align: left; font-size: 12px; margin-top: 5px"
        >Create your account here.</label
      >

      <div class="input-group mb-2">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Name"
          formControlName="userName"
          autocomplete="off"
        />
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span><mat-icon>person</mat-icon></span>
          </div>
        </div>
      </div>

      <div
        class="invalid-field"
        *ngIf="
          userSignUp.get('userName')?.touched &&
          userSignUp.get('userName')?.invalid
        "
      >
        <div *ngIf="userSignUp.get('userName')?.hasError('required')">
          This filed is required.
        </div>
        <div *ngIf="userSignUp.get('userName')?.hasError('minlength')">
          Username length sould be atleast 3 character
        </div>
      </div>

      <div class="input-group mb-2">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Email"
          formControlName="userEmail"
          autocomplete="off"
        />
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span><mat-icon>mail</mat-icon></span>
          </div>
        </div>
      </div>

      <div class="email-container invalid-field">
        <div
          *ngIf="
            userSignUp.get('userEmail')?.touched &&
            userSignUp.get('userEmail')?.invalid
          "
        >
          <span *ngIf="userSignUp.get('userEmail')?.hasError('required')"
            >This field is required.</span
          >
          <span *ngIf="userSignUp.get('userEmail')?.hasError('email')"
            >This email format is invalid.</span
          >
        </div>
      </div>

      <div class="input-group mb-2">
        <input
          [type]="hide ? 'password' : 'text'"
          formControlName="userPwd"
          class="form-control"
          placeholder="Enter Password"
          autocomplete="off"
        />
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              style="cursor: pointer"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </span>
          </div>
        </div>
      </div>

      <div
        class="invalid-field"
        *ngIf="
          userSignUp.get('userPwd')?.touched &&
          userSignUp.get('userPwd')?.invalid
        "
      >
        <span *ngIf="userSignUp.get('userPwd')?.hasError('required')">
          This field is required.
        </span>
        <span *ngIf="userSignUp.get('userPwd')?.hasError('minlength')">
          Password length sould be atleast 8 character.
        </span>
      </div>

      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="userSignUp.invalid"
      >
        Sign Up
      </button>
      <hr />
      <h3 style="color: #0000ff;cursor: pointer;user-select: none;" (click)="loginPage()">Login here</h3>
    </form>
  </div>
</div>
<loader *ngIf="showLoader"></loader>
