.main-container {
  padding: 20px
}

form {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

mat-form-field > div:nth-child(odd) {
  display: none;
}

ng-reflect-ng-switch {
  display: none !important;
}

.invalid-field {
  color: red;
}
